#nav .nav-item .nav-link{
    color: white;
}
#nav .nav-item .nav-link:hover{
    color: #dedede;
}
.logoNav{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-flex ;
    align-items: center;
}
.Titlenav{
    margin-left: 4%;
}
.listNav{
    align-items: center;
}

.links{
    /* color: red; */
    text-decoration: none;
}
.links:hover{
    text-decoration: underline;
}

.prevProject{
    padding: 5%;
    border: 1px solid;
    border-radius: 10%;
}