html{
    scroll-behavior: smooth;
}
#nav .nav-item .nav-link{
    color: white;
}
#nav .nav-item .nav-link:hover{
    color: #dedede;
}
.logoNav{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-flex ;
    align-items: center;
}
.Titlenav{
    margin-left: 4%;
}
.listNav{
    align-items: center;
}

.links{
    /* color: red; */
    text-decoration: none;
}
.links:hover{
    text-decoration: underline;
}

.prevProject{
    padding: 5%;
    border: 1px solid;
    border-radius: 5%;
    box-shadow: 5px 5px 8px 5px #212529;
    min-height: 320px;
}

.photoMine{
    width: 100%;
    box-shadow: 5px 5px 8px 5px #212529;
    cursor: pointer;
    opacity: 0;
}

.btnCustom{
    display: inline-block;
    background-color: #212529;
    color: white;
    padding: 4% 5%; 
    border-radius: 15%;
    text-decoration: none;   
    width: auto; 
}

.btnCustom:hover{    
    color: white;
    text-decoration: underline;
}

.maxHeightLogo{
    max-height: 80px;    
    padding: 5%;
}

.centerDivImg{
    display: flex;
    justify-content: center;
}

.textAnim{
    opacity: 0;
}

@media (max-width: 991px) {
    .maxHeightLogo {
        max-height: 65px;
        padding: 1.5%;
    }
}
